*{
  margin: 0;
  padding: 0;
}

.app-container{
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container{
  font-size: 50px;
  width: 100%;
  max-width: 800px;
  margin: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.inputs{
  height:50px;
  width: 100%;
  font-size: 30px;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.submitbtn{
  height: 50px;
  width: 100%;
  font-size: 30px;
  background-color: #3b72fe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tasks-panel{
  padding: 10px;
  margin: 10px;
  min-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.task-container{
  background-color: rgb(157, 165, 184);
  padding: 15px;
  border-radius: 10px;
  display: block;
  gap: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(34, 15, 15, 0.1);
  margin: 20px;
}

.task-checkbox{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.task-header{
  gap: 15px;  
  flex-wrap: wrap;
}

.delete{
  margin-left: 10px;
  display: inline-block;
  padding: 5px 10px;
  width: auto;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.togglebtn{
  margin-left: 10px;
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  width: auto;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2e6bef;
  color: white;
  border: none;
  border-radius: 5px;
}

.task-desc{
  font-size: 20px;
}